#!/usr/bin/make -f

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

config.status: configure
	dh_testdir
	dh_autoreconf
	CPPFLAGS="$(CPPFLAGS)" CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)" \
        LDFLAGS="$(LDFLAGS)" ./configure --prefix=/usr \
            --mandir=/usr/share/man --sysconfdir=/etc --with-pic

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch build-stamp

build: build-arch

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp 
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_autoreconf_clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/trickle

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install trickled.conf etc
#	install -D -m 644 debian/lintian-override \
#		$(CURDIR)/debian/trickle/usr/share/lintian/overrides/trickle
	dh_installdocs -n
	dh_installman debian/tricklectl.8
	dh_installchangelogs 
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

binary: binary-arch binary-indep
.PHONY: build clean binary-arch binary-indep binary install 
